/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/*ESTILIZAÇÃO */

body{
     background: rgb(70, 142, 236); 
     font-family: 'Poppins', sans-serif;
}

header{
     color: white;
     text-align: center;
      
}

 section{
   background-color: white;
   border-radius: 10px;
   padding: 15px;
   margin: auto;
   height: 300px;
   width: 500px;
   box-shadow: 2px 2px 10px black;
 }

 footer{
  font-style: italic;
  text-align: center;
  color: white;
 }

 #imagem{
    height: 250px;
    width: 250px;
    border-radius: 50%;

 }