@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


*{
    margin: 0;
    padding: 0;
}

button{
    border: none;
    color: white;
    background-color: green;
    width: 150px;
    height: 55px;
    border-radius: 10px;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
    }

body{
    background: #c68c53a8;
    font-size: 24px;
}

.main-container{
    width: 95%;
    margin: auto;
}

.container1{
    margin-left: 5%;
}

.container2{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-left: 5%;
    
}


.container3{
    display: none; 
    position: absolute;
    top: 26%;
    left: 40%;
   
}

textarea{
    box-shadow: 10px 10px 24px 0 rgba(0, 0, 0, 0.75);
    outline: none;
    border: none;
    width: 275px;
    height: 275px;
    padding: 40px 25px 25px 25px;
}


i{
 color: lightgray;
}


#check-icon{
    position: absolute;
    right: 17%;
    top: 4%;
   font-size: 40px;
}

#x-icon{
    position: absolute;
    right: 5%;
    top:4%;
    font-size: 40px;
}


